<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/personnes">
      <i class="fas fa-users me-2"></i>
      {{ title }}
    </a>
    <div class="navbar-nav">
      <a class="nav-link" routerLink="/personnes" routerLinkActive="active">
        <i class="fas fa-list me-1"></i>
        Liste
      </a>
      <a class="nav-link" routerLink="/ajouter" routerLinkActive="active">
        <i class="fas fa-plus me-1"></i>
        Ajouter
      </a>

      <a class="nav-link" routerLink="/documentation" routerLinkActive="active">
        <i class="fas fa-plus me-1"></i>
        Documentation
      </a>
    </div>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>